<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<style>
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px; //height of the footer
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  height: 100px;
}
</style>

    <title>Footer</title>
</head>
<body>


<th>
<footer>
    <div class="row">
        <div class="col-md-6">
            <p>Page created by Vitali Maksimov</p>
        </div>
        <div class="col-md-6 text-md-end">
            <a href="https://www.facebook.com/vitochel" class="text-dark">Facebook</a>
            <span class="text-muted mx-2">|</span>
            <a href="https://vitonman.github.io/" class="text-dark">My page</a>
        </div>
    </div>
</footer>

</body>
</html>